{% extends "../base.html" %}

{% block css_files %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">宝岛眼镜App后台</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">推送焦点图</a></li>
            <li><a href="#">推送新闻</a></li>
            <li><a href="#">推送紫外警告</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">

        {% include "../leftbars.html" %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ Title }}</h1>

          <div class="row">
            <div class="col-sm-1">
              <label>焦点图</label>
            </div>
            <div class="col-xs-6 col-sm-3">
              <img src="/img/a.jpg" width="251px" height="188px">
              <form role="form" enctype="multipart/form-data" method="post" action="/appbg/news/updatepic/a"> 
                <label>选择文件并提交</label>
                <input type="file" name="upload">
                <p></p>
                <button type="submit" class="btn btn-default">提交</button>
              </form>
            </div>
            <div class="col-xs-6 col-sm-3">
              <img src="/img/b.jpg" width="251px" height="188px">
              <form role="form" enctype="multipart/form-data" method="post" action="/appbg/news/updatepic/b"> 
                <label>选择文件并提交</label>
                <input type="file" name="upload">
                <p></p>
                <input type="submit" value="提交" class="btn btn-default">
              </form>
            </div>
            <div class="col-xs-6 col-sm-3">
              <img src="/img/c.jpg" width="251px" height="188px">
              <form role="form" enctype="multipart/form-data" method="post" action="/appbg/news/updatepic/c"> 
                <label>选择文件并提交</label>
                <input type="file" name="upload">
                <p></p>
                <input type="submit" value="提交" class="btn btn-default">
              </form>
            </div>
          </div>

          <hr>
          <div class="inline-form">
          <h2 class="sub-header">新闻列表</h2>
          <button class="btn btn-primary">添加新闻</button>
          <button class="btn btn-danger">删除所有</button>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>标题</th>
                  <th>内容</th>
                  <th>链接</th>
                  <th>图片</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for news in newslist %}
                <tr data-id="{{ news._id.toString() }}">
                  <td class="td-title">{{ news.title }}</td>
                  <td class="td-summary">{{ news.summary }}</td>
                  <td class="td-url"><a href="{{ news.url }}">{{ news.url }}</a></td>
                  <td class="td-picture">
                    <ul class=list-inline>
                      <label>首图&nbsp;</label>
                      <img src="/img/c.jpg" width="50" height="31">
                    </ul>
                  </td>
                  <td>
                    <ul class=list-inline>
                      <p></p>
                      <li><a href="#" class="a-edit-news" data-toggle="modal" data-target="#modal-edit-news">编辑</a></li>
                      <li><a href="#" class="a-del-news">删除</a></li>
                    </ul>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal fade" id="modal-edit-news">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">添加新闻</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="news-title" class="col-sm-2 control-label">标题</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="news-title" name="news-title">
                  </div>
                </div>

                <div class="form-group">
                  <label for="news-summary" class="col-sm-2 control-label">导语</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="2" id="news-summary" name="news-summary"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="news-detail" class="col-sm-2 control-label">内容</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="10" id="news-detail" name="news-detail"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label for="news-url" class="col-sm-2 control-label">外部链接</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="news-url" name="news-url">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">增加图片</label>
                  <div class="col-sm-4">
                    <input type="file" name="upload">
                    <p></p>
                    <button class="btn btn-primary">增加图片</button>
                  </div>
                </div>
              </form>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary">确定</button>
            </div>
          </div>
        </div>
      </div><!-- End modal -->
    </div>
    <script>
      $(".main .btn-primary").click(function(){
        $(".main .btn-primary").attr("disabled", true); // 灰掉按钮，免得点太快

        $.post("/appbg/news/add", {
          title: "标题",
          summary: "导语",
          detail: "内容",
          url: "www.baidu.com"
          },function(data){
          data = JSON.parse(data); // 解析返回的json数据
          if (!data.status) {
            alert("添加新闻项失败");
            return;
          }

          var new_raw = 
          '<tr data-id="' + data.doc._id.toString() + '">' +
            '<td class="td-title">' + data.doc.title + '</td>' +
            '<td class="td-summary">' + data.doc.summary + '</td>' +
            '<td class="td-url"><a href="' + data.doc.url + '">' + data.doc.url + '</a></td>' +
            '<td class="td-picture">' +
              '<ul class=list-inline>' +
                '<label>首图&nbsp;&nbsp;</label>' +
                '<img src="/img/c.jpg" width="50" height="31">' +
                '<p></p>' +
                '</ul>' +
              '</td>' +
            '<td>' +
              '<ul class=list-inline>' +
                '<p></p>' +
                '<li><a href="#" class="a-edit-news" data-toggle="modal" data-target="#modal-edit-news">编辑</a></li>' +
                '<li><a href="#" class="a-del-news">删除</a></li>' +
                '</ul>' +
              '</td>' +
            '</tr>';
          $(".table-striped tbody").append(new_raw);

          $(".main .btn-primary").attr("disabled", false);
        });
      });

      // 为了使新增的按钮上绑定事件，直接在table上绑定点击事件，再检测是哪个元素
      $(".table-striped tbody").click(function(event){
        if ($(event.target).context.className === "a-del-news"){
          delete_news(event);
          } else if ($(event.target).context.className === "a-edit-news") {
          edit_news(event);
        }
      });

      // 删除新闻
      function delete_news(event) { 
        if (!confirm('确实要删除吗？')) {       // 要求确认
          return;
        }
        var tr = $(event.target).parents("tr");
        $.post("/appbg/news/del",{
          id: tr.attr("data-id")
          }, function(data) {
          data = JSON.parse(data);
          if (!data.status) {
            alert("删除失败");
            return;
          }
          tr.remove();
        });
      }; 

      // 编辑前，把列表中的东西填充到modal中，作为准备
      function edit_news(event) {
        $('.modal-added').remove(); // 上次编辑留下的布局脏数据清除
        var tr = $(event.target).parents("tr");

        var title = tr.children("td.td-title").text();
        var summary = tr.children("td.td-summary").text();
        var url = tr.children("td.td-url").text();

        $("#news-title").val(title);
        $("#news-summary").val(summary);
        $("#news-url").val(url);

        // 获取到详情跟图片信息
        $.post("/appbg/news/beforeedit",{id: tr.attr("data-id")}, function(data){ 
          data = JSON.parse(data); // 解析返回的json数据
          var detail = data.detail;
          $("#news-detail").val(detail);
          var imgs = "";
          for (item in data.imgs) {
            var img = 
                '<div class="form-group">' + 
                  '<label for="news-summary" class="col-sm-2 control-label">图片</label>' + 
                  '<div class="col-sm-10">' + 
                    '<img src="' + item + '" width="50" height="31">' + 
                  '</div>' + 
                '</div>';
            imgs = imgs + img;
          }
          $(".modal-body").append(imgs);
        });
      };

      // 编辑过程中会改变布局，显示时删除上次编辑产生的脏布局
      $('#modal-edit-news').on('show.bs.modal', function(event) { 
        $('.modal-added').remove();
      });
      
      // 编辑完成后post到数据库中存储
      $("#modal-edit-news .modal-footer .btn-primary").click(function(e){ 
        var title = $("#news-title").val();
        var summary = $("#news-summary").val();
        var detail = $("#news-detail").val();
        var url = $("#news-url").val();

        $("#modal-edit-news").modal("hide");
      }); 

      // 删除所有数据
      $(".btn-danger").click(function(){
        if (!confirm('确实要删除所有数据吗？')) {       // 要求确认
          return;
        }
        $.post("/appbg/news/delall",function(data){
          if(data.status) {
            $(".table-striped tbody tr").remove();
            alert("删除成功..");
            } else {
            alert("删除失败..");
          }
          },"json");
      });
    </script>
{% endblock %}



